.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.game-paper {
	width: 100%;
	height: 100vh;
	background-color: #424242 !important;
}
.scene-paper {
	width: 65%;
	margin-top: 2em;
	display: inline-block;
	height: 65%;
	background-color: #b9b9b9!important;
}
.input-paper {
	width: 75%;
	display: inline-block;
	height: 10%;
	margin-top: 25px;
	background-color: #585858 !important;
	color: white !important;
	vertical-align: middle;
}
.door-image {
	height: 85%;
	margin-top: 10%;
}
.left-label {
	display: inline-block;
	margin-top: 1.5%;
	font-size: 30px;
	font-family: 'Fira Code';
	color: #c8cec7;
}
.right-input {
	color: white;
	height: 90%;
	background-color: #424242 !important;
	border:none;
	outline: none !important;
	margin-left: 15px;
	font-size: 30px;
	border-radius: 5px;
	width: 20%;
	text-align: center;
	font-family: 'Fira Code';
}
.hint-paper {
	padding: 10px;
	color: #98f988 !important;
	background-color: #504f4f !important;
	margin-right: 5px;
}
.left-input{
	color: white;
	height: 90%;
	background-color: #424242 !important;
	border:none;
	outline: none !important;
	margin-right: 15px;
	font-size: 30px;
	border-radius: 5px;
	width: 20%;
	text-align: center;
	font-family: 'Fira Code';
}
.code-area {
	font-family: 'Fira Code';
	font-size: 25px;
	color: white;
	background-color: #424242 !important;
	outline: none !important;
	border:none;
	border-radius: 5px;
	padding: 10px 15px;
}
.run-button{
	margin-bottom: 20%;
	margin-left: 15px;
}
.bool  {
	color: #ecb9ec !important;
}
.if {
	color: #ecb9ec !important;
}
.wordbank {
	font-size: 25px;
	color: #c8cec7 !important;
	background-color: #424242 !important;
	outline: none !important;
	height:80%;
	margin-left: 25px;
	padding: 15px;
	margin-top: 10%;
	text-align: left;
}
